name: Mutation Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  pitest:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Run PiTest Mutation Coverage
      run: mvn -q org.pitest:pitest-maven:mutationCoverage

    - name: Upload Mutation Report
      uses: actions/upload-artifact@v4
      with:
        name: pitest-report
        path: target/pit-reports
